<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jzh.mvvm">
    <!-- 获取GSM网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许获取Wi-Fi网络状态改变信息 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- SD 卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="behind"
            android:theme="@style/BaseAppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="behind"/>
        <activity android:name=".ui.activity.common.KnowledgeActivity" />
        <activity android:name=".ui.activity.collect.MyCollectActivity" />
        <activity android:name=".ui.activity.common.SearchActivity" />
        <activity android:name=".ui.activity.login.LoginActivity" />
        <activity android:name=".ui.activity.my.RankActivity" />
        <activity android:name=".ui.activity.share.ShareActivity" />
        <activity android:name=".ui.activity.group.GroupActivity" />
        <activity android:name=".webView.WebViewActivity" />
        <activity android:name=".ui.activity.my.AddTodoActivity" />
        <activity android:name=".ui.activity.my.TodoActivity" />
        <activity android:name=".ui.activity.login.RegisterActivity" />
        <activity android:name=".ui.activity.my.MyShareActivity" />
        <activity android:name=".ui.activity.my.MyScoreActivity" />
        <activity android:name=".ui.activity.my.AboutActivity" />
        <activity android:name=".ui.activity.my.SystemActivity" />
        <activity android:name=".ui.activity.my.LaterReadActivity"/>
        <activity android:name=".ui.activity.my.ReadRecordActivity"/>
    </application>

</manifest>